body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding-right: 20px;
}

.locations {
    border-right: none;
}
